<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="styles/style.css"/>
  <title>Hello, World!</title>
</head>
<body>
  <h1 id="head">
    Hello, World!
  </h1>
  <button onclick="()=>{ let y=document.getElementById("head");y.innerHTML
 }">click</button>
  <script src="../indexjs.js"></script>
</body>
</html>
